* {
  margin: 0;
  padding: 0;
}
html, body {
  position: relative;
  width: 100%;
  height: 100%;
}
#app {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .mouse-handle-view {
      position: relative;;
      width: 400px;
      height: 800px;
      border: 1px solid #ccc;
      background: #fff;
      cursor: pointer;
      span.control-content-lc {
        position: absolute;
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 1px solid #03A9F4;
        border-radius: 100%;
        box-sizing: border-box;
        margin: -5px 0 0 -5px;
        &.jc-capture-lt {
          left: 0;
          top: 0;
          cursor: nwse-resize;
        }
        &.jc-capture-rt {
          left: 100%;
          top: 0;
          cursor: nesw-resize;
        }
        &.jc-capture-lm {
          left: 0;
          top: 50%;
          cursor: ew-resize;
        }
        &.jc-capture-rm {
          left: 100%;
          top: 50%;
          cursor: ew-resize;
        }
        &.jc-capture-lb {
          left: 0;
          top: 100%;
          cursor: nesw-resize;
        }
        &.jc-capture-rb {
          left: 100%;
          top: 100%;
          cursor: nwse-resize;
        }
        &.jc-capture-tm {
          left: 50%;
          top: 100%;
          cursor: ns-resize;
        }
        &.jc-capture-bm {
          left: 50%;
          top: 0;
          cursor: ns-resize;
        }
      }
    }
}
